
#about {color: #111111; background-color: #fff;}
#skills {padding-top:50px;height:1000px;color: #fff; background-color: #C6B5B2;}



/*Page 2*/
.article-title {
    cursor: pointer;
    color:#E52F26;
    font-family: "DIN Next W02 Cond", "Arial Condensed", Arial, sans-serif;
    font-size: 28pt;
    font-weight: 100;
    letter-spacing: -0.35pt;
    line-height: 1.0;
    text-transform: uppercase;
    text-decoration: none;
}

.article-content{
    color: #333;
    font-size: 2.12rem;
    line-height: 1.5;
    font-family: "FF Meta Serif W01",serif;
}

.date-author{
    font-size: 1.5rem;
    color:#aaa;
}

.post-title{
    font-size: 50px;
    color: #333;
    font-weight: 500;
    font-family: "DIN Next W04",sans-serif;

}

.post-content{
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    font-family: "FF Meta Serif W01",serif
}

.footer-article{
    text-align: center;
    cursor: pointer;
    color:#E52F26;
}

/*
START - blog/index
*/
#effect{

    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

}