.personal-skills-pie{
    display: block; width: 770px; height: 385px;
}

.about {
    font-family: GTSectraDisplay-Regular;
    color:#fff;
    font-size:50px;
    font-weight:400;
    letter-spacing:.04em;
    text-align:center;
}


/*DRAW*/
#svgelem {
    position: relative;
    left: 70%;
}
#svgelemm {
    position: relative;
    left: 51%;
}
/*IMG*/


#pawel {
    /*    background-color: red; */



}

#pawel img{
    opacity: 0.5;
    border-radius: 5%;
}

.name {
    color: #FFF;
    text-align: center;
}

.status {
    color: #FFF;
    text-align: center;
}

.name:hover {
    color: yellow;
}

/*Design*/
.anim--btn {
    display: block;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    height: 64px;
    font: normal normal 700 1em/4em Arial,sans-serif;
}

/*Animate*/
.anim--btn:hover .anim--btn{
    margin-top: -64px;
}
.anim--btn .anim--btn{
    transition: 0.9s;
}


/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}


/*SOCIAL MEDIA ICONS*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-reddit {
    background: #ff5700;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-github {
    background: #db98ee;
    color: white;
}


/*NAVBAR*/
li{
    /*font-family: 'Audiowide';*/
    font-size: 22px;
    text-transform: uppercase;
    padding: 14px 0 12px;
    line-height: 22px;
    color: #444;
}

#zitat{
    font-family: "Franklin Gothic Book";
}

#about {padding-top:50px;height:700px;color: #111111; background-color: #fff;}
#skills {padding-top:50px;height:1000px;color: #fff; background-color: #C6B5B2;}

.article-title {
    cursor: pointer;
    color:#E52F26;
    font-family: "DIN Next W02 Cond", "Arial Condensed", Arial, sans-serif;
    font-size: 28pt;
    font-weight: 100;
    letter-spacing: -0.35pt;
    line-height: 1.0;
    text-transform: uppercase;
    text-decoration: none;
}

.article-content{
    color: #333;
    font-size: 2.12rem;
    line-height: 1.5;
    font-family: "FF Meta Serif W01",serif;
}

.date-author{
    font-size: 1.5rem;
    color:#aaa;
}

.post-title{
    font-size: 76px;
    color: #333;
    font-weight: 500;
    font-family: "DIN Next W04",sans-serif;

}

.post-content{
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    font-family: "FF Meta Serif W01",serif
}

.footer-article{
    text-align: center;
    cursor: pointer;
    color:#E52F26;
}